.main {
    width: 80%;
    height: 100%;
    background-color: #000;
    color: #fff;
}
.image {
    width: 90%;
    display: flex;
    margin: auto;
}
.header {
   
}

.text {
 
}

.inputBox {
    display: flex;
}

.input {
    margin-left: 1rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: ARCADECLASSIC;
}
input:focus {
    outline: none;  
}