.main {
    width: 50%;
    height: 100%;
    background-color: #000;
    color: #fff;
    text-shadow: 1px 1px 2px pink;
    font-size: 1.5rem;
    margin-bottom: 2rem;    
    letter-spacing: .5rem;
    display: flex;
    flex-direction: column;
}
.content {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.content h1 {
    font-size: 3rem;
    margin-bottom: 7rem; 
    margin-top: 5rem; 
}
.content div, span {
    font-size: 1.5rem;
    margin-bottom: 2rem;    
    letter-spacing: .5rem;
}

.content span {
    font-style: italic;
}

.colorPurple {
    color: purple;
}

.colorGreen {
    color: greenyellow;
}

.colorGold {
    color: gold;
}

.header {
   margin: 1rem
}

.text {
    letter-spacing: .2rem;
    font-weight: 300;
}

.inputBox {
    display: flex;
    margin-top: 1rem;

}

.center {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 1rem;
}

i {
    margin: 0;
}

.input {
    margin-left: 1rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: ARCADECLASSIC;
    letter-spacing: .2rem;
    font-size: 1.5rem;
}
input:focus {
    outline: none;  
}

.noMargin {
    margin: 0;
}

.svg {
    background-color: white;
    width: 1.2rem;
    /* animation: blink 2s;
    -webkit-animation: blink 2s;
    -moz-animation: blink 2s; */

  
    visibility: visible;
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    -moz-animation: blink 1s steps(5, start) infinite;
}

footer {
    font-size: 1rem;
    margin: auto;
    display: flex;
    width: 90%;
    flex-direction: column;
}

footer div {
    margin-bottom: 2rem;
}

.helperCountDown {
    visibility: hidden;
}

@keyframes blink {
    to {
        visibility: hidden;
      }
  }

  @-webkit-keyframes blink {
    to {
        visibility: hidden;
      }
  }

  @-moz-keyframes blink {
    to {
        visibility: hidden;
      }
  }

@media (max-width: 1400px) {
    .main {
        width: 60%;
    }
}
@media (max-width: 1200px) {
    .main {
        width: 80%;
    }
}

a {
    text-decoration: none;
}

@media (max-width: 501px) {
    .main {
        width: 100%;
        font-size: 1rem;
        letter-spacing: .2rem;
    }

    .content h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem; 
        margin-top: 0; 
    }

    .content div, span {
        font-size: 1rem;
        margin-bottom: 1rem;    
        letter-spacing: .5rem;
    }

    .input {
        font-size: 1rem;
    }

    .svg {
        width: .8rem;
    }
    footer {
        font-size: .7rem;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
    }

    footer div {
        margin-bottom: 1rem;
    }
}

@media (max-height: 400px) {

    header {
        display: none;
    }

    img {
        width: 75%;
        display: flex;
        margin: auto;
    }

  .main,.center {
    margin-bottom: 3rem;
  }
  .main .content div {
    display: none;
  }
  input {
    font-size: 2rem;  
  }
  .helperCountDown {
        visibility: visible;
         right: 4rem;
        position: absolute;
        bottom: 6rem;
  }

  .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: rgba(255,255,255, .2);
    padding: .7rem;
    color: wheat;
    border-radius: 6px;
  }

  .btn span {
    position: absolute;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: initial;
  }
}


@media (max-height: 300px) {

    img {
        width: 60%;
    }

  .helperCountDown {
         right: 4rem;
        bottom: 5rem;
  }

  .btn {

    right: 4rem;
    bottom: 5rem;
    padding: .4rem;
  }
}