.hidden {
	display: inline-block;
}
.content {
	width: 90%;
	display: flex;
	margin: auto;
	flex-direction: column;
}
.content h1 {
	font-size: 3rem;
	margin-bottom: 7rem;
	margin-top: 5rem;
}
.content div,
span {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	letter-spacing: 0.5rem;
}

.content span {
	font-style: italic;
}

.colorPurple {
	color: purple;
}

.colorGreen {
	color: greenyellow;
}

.colorGold {
	color: gold;
}

.marginTop {
	margin-top: 0;
}

@media (max-width: 501px) {
	.content h1 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		margin-top: 0;
	}

	.content div,
	span {
		font-size: 1rem;
		margin-bottom: 1rem;
		letter-spacing: 0.5rem;
	}
}

@media (max-height: 400px) {
    .hidden {
		display: none;
	}

	.marginTop {
		margin-top: 1rem;
	}
}